header .nav-pills {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  
header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    background-color: #5401B2;
    color: #fff;
  }
  
.nav-pills .nav-link {
    background-color: #fff;
    color: #4b049c;
  }
  
  .input-group {
    flex: 1;
    margin-right: 1rem;
  }

  
.form-control {
    height: 45px; }

.btn {
    background-color: #5401B2;
    color: white;
    border: none;
    flex: 0 0 auto;
    margin-top: 0rem;
    }

.btn:hover {
      background-color: #6d20d6;
      cursor: pointer;
  }


.display-5 {
  padding-top: 1rem;
    text-align: center;
  }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
.centerbox {
    padding-top: 3rem;
    text-align: center;
  }
  
  .icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    object-fit: contain;
  }
  
.col-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
.col-text {
    align-self: flex-end;
  }
  
p {
    text-align: left;
    margin: 0;
  }

  .result-box {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  
  .result-text {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #calculateButton {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #5401B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #calculateButton:hover {
    background-color: #8c27ff;
  }
  
  .result-box {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
  }
  
  .result-text {
    font-weight: bold;
    text-align: center;
  }
  
  #result {
    font-weight: bold;
    color: #5401B2;
  }
  
  .delete-row-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-row-btn {
    width: 100px;
    height: 45px;
    margin-top: 1.9rem;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #add-row-btn {
    width: 100px;
    height: 45px;
    margin-top: 2rem;
    margin-right: auto;
    background-color: #5401B2;
    color: #fff;
    border: none;
    flex: 0 0 auto;
  }
  
  #add-row-btn:hover {
    background-color: #6d20d6;
    cursor: pointer;
  }
  
  
  